body {
    margin: 0;
    padding: 0;
}

#board {
    background-image: url("../images/fond-mur.jpg");
    height: 100vh;
    position: relative;
    overflow: hidden;
    /* display: flex;
    justify-content: center;
    align-items: center; */
}
.centered{
    text-align: center;/* to center horizontally */
   position: absolute;
    /*top:12%;  to center vertically , relatively to the screen */
    border: 1px solid black;
   padding: 20px;
   background: linear-gradient(darkolivegreen, pink);
   font-size: 25px;
   font-family: cursive;
}

#Hero {
     background-color:rgb(137, 209, 235);
     border-radius: 100%;
    position: absolute;
    border: 1px solid black; 
    width: 30px;
    height: 30px;
    max-width:30px;
    max-height: 30px;
}

.Monster {
    border: 1px solid black;
    background-color:rgb(137, 209, 235);
    border-radius:20%;
    position: absolute;
    width: 30px;
    height: 30px;
    max-width:30px;
    max-height: 30px;
}

#page-gameover {
    text-align: center;
    background-color: rgb(166, 161, 171);
}
#level{
    background-color: darksalmon;
    height: 40px;
    display: flex;
	flex-direction: row;
	align-items: center;/* vertically center the items */
    justify-content: center;/* horizontally center the items */
}
#level2{
    background-color: cadetblue;
    height: 40px;
    display: flex;
	flex-direction: row;
    align-items: center;/* vertically center the items */
    justify-content: center;/* horizontally center the items */
    display: none;/* We want to initially hide the level 2 div  */
    visibility: hidden;
}

