body {
    margin: 0;
    padding: 0;
}

#board {
   /* background-image: url("../images/fond-mur.jpg"); */
   /* background-image: url("../images/pacman_backgroung.webp"); */
    background-image:url('https://images.unsplash.com/photo-1583916197120-4a6c3ab27a6f?q=80&w=1974&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D');
    mix-blend-mode: overlay;
    height: 100vh;
    position: relative;
    overflow: hidden;
    /* display: flex;
    justify-content: center;
    align-items: center; */
}
.centered{
    text-align: center;/* to center horizontally */
   position: absolute;
    /*top:12%;  to center vertically , relatively to the screen */
    border: 1px solid black;
   padding: 20px;
   background: linear-gradient(darkolivegreen, pink);
   font-size: 25px;
   font-family: cursive;
}

#Hero {
     background-color:rgb(137, 209, 235);
     border-radius: 100%;
    position: absolute;
   
    width: 2vw;
    height: 4.1vh;
    max-width:2vw;
    max-height: 4.1vh;
}

.Monster {
    
    background-color:rgb(137, 209, 235);
    border-radius:20%;
    position: absolute;
    width: 2vw;
    height: 4.1vh;
    max-width:2vw;
    max-height: 4.1vh;
}

#page-gameover {
    text-align: center;
    background-color: rgb(166, 161, 171);
}
#level{
    background-color: darksalmon;
    height: 9.6vh;
    font-weight:700;
    display: flex;
	flex-direction: row;
	align-items: center;/* vertically center the items */
    justify-content: center;/* horizontally center the items */
}
#level2,#level3{
    background-color: cadetblue;
    height: 9.6vh;
    font-weight:700;
    display: flex;
	flex-direction: row;
    align-items: center;/* vertically center the items */
    justify-content: center;/* horizontally center the items */
    display: none;   /* We want to initially hide the level 2 div  */
   /* visibility: hidden; */
}

